<div class="container-fluid footer mt-5">
    <div class="row">
        <div class="col-lg-6">
            <h1>Fitchen</h1>
            <p>Eat food like her...</p>
        </div>
        <div class="col-lg-4">
            <a routerLink="">Home</a>
            <a routerLink="menu">Menu</a>
            <a routerLink="about">About</a>
            <a routerLink="Contact">Contact</a>
        </div>
        <div class="col-lg-2">
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-whatsapp"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-twitter"></i></a>
        </div>
    </div>
</div>