<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-6">
            <img src="{{menuData[0].foodImg}}" width="100%" alt="">
            <h1 class="mt-4">{{menuData[0].foodName}}</h1>
            <p>{{menuData[0].foodDetail}}</p>
            <p>&#8358;{{menuData[0].foodPrice}}</p>
        </div>
    
    <div class="col-lg-6">
        <h1 class="text-center">Enter your details</h1>
        <form action="">
            <input type="text" class="form-control" placeholder="Please enter your name"> <br><br>
            <input type="text" class="form-control" placeholder="Please enter your Phone"> <br><br>
            <textarea name="" class="form-control" id="" cols="30" rows="10" placeholder="Please enter your address"></textarea>
            <button class="btn btn-dark mt-4 ">Order Now</button>
        </form>
    </div>
    </div>

</div>